@import url(./_white/button_white.css);
@import url(./_yellow/button_yellow.css);

.button {
  font-family: Raleway, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-size: 12px;
  font-weight: 700;
  line-height: 0;
  letter-spacing: .5px;
  text-decoration: none;
  text-transform: uppercase;
  box-sizing: border-box;
  border-radius: 25px;
  display: inline-block;

}