.footer__copyright {
  font-family: OpenSans, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  color: #7e7e7e;
  margin-bottom: 20px;
}

@media (max-width: 990px) {
  .footer__copyright {
    margin-left: 8px;
    margin-right: 8px;
  }
}