.header__title {
  max-width: 570px;
  font-family: Storytella, Arial, Helvetica, sans-serif;
  font-style:  normal;
  font-weight: 400;
  font-size: 200px;
  line-height: 200px;
  color: #fff;
  margin-top: 164px;
  margin-bottom: 100px;
}

@media (max-width: 640px) {
  .header__title {
    max-width: 500px;
    font-size: 150px;
    line-height: 150px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (max-width: 520px) {
  .header__title {
    font-size: 124px;
    line-height: 124px;
    margin-top: 64px;
    margin-bottom: 64px;
  }
}
@media (max-width: 430px) {
  .header__title {
    font-size: 100px;
    line-height: 100px;
  }
}