.footer__contacts-title {
  font-family: Raleway, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: .5px;
  color: #fde557;
  margin-top: 0;
  margin-bottom: 18px;
}