.cakes__wrapper {
  max-width: 1170px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-top: 84px;
}

@media (max-width: 1170px) {
  .cakes__wrapper {
    width: calc(100% - 64px);
  }
}