.header__nav-block {
  width: 100%;
  min-height: 108px;
  position: relative;
  z-index: 1;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__nav-block::after {
  content: '';
  width: calc(100vw - 24px);
  height: 1px;
  background-color: rgba(128, 128, 128, .5);
  position: absolute;
  bottom: 17px;
  z-index: 1;
}