.header__nav-block {
  width: 100%;
  min-height: 108px;
  position: relative;
  z-index: 1;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
/*TODO maybe width: 95vw?*/
.header__nav-block::after {
  content: '';
  width: 98vw;
  height: 1px;
  background-color: rgba(128, 128, 128, .5);
  position: absolute;
  bottom: 17px;
  z-index: 1;
}