@import url(./__logo/partners__logo.css);

.partners {
  max-width: 1170px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(1, 122px);
  grid-gap: 30px;
  text-align: center;
  padding-top: 134px;
  padding-bottom: 134px;
  margin-left: auto;
  margin-right: auto;
}