.cakes__mark {
  height: 198px;
  position: absolute;
  top: 34px;
  right: 156px;
}

@media (max-width: 800px) {
  .cakes__mark {
    right: 56px;
  }
}
@media (max-width: 650px) {
  .cakes__mark {
    top: -75px;
  }
}