@import url(./__card/food__card.css);
@import url(./__card-caption/food__card-caption.css);
@import url(./__card-image/food__card-image.css);
@import url(./__card-title/food__card-title.css);
@import url(./__cards-wrapper/food__cards-wrapper.css);
@import url(./__subtitle/food__subtitle.css);
@import url(./__text-wrapper/food__text-wrapper.css);
@import url(./__title/food__title.css);
@import url(./__title-bold/food__title-bold.css);
@import url(./__title-thin/food__title-thin.css);

.food {
  background-image: url('../../images/food-backgound.jpg');
  background-repeat: no-repeat;
  background-size: 100% 694px;
  background-position: top;
  padding-bottom: 144px;
  background-color: #f9f9f9;
}