@import url(./__image/logo__image.css);
@import url(./__text/logo__text.css);

.logo {
  width: 100px;
  height: 130px;
  background-color: #fcdb5a;
  position: relative;
  display: inline-block;
  text-align: center;
  margin-right: 68px;
  z-index: 2;
}