@import url(./__image/logo__image.css);
@import url(./__text/logo__text.css);
@import url(./_header-mode/logo_header-mode.css);
@import url(./_footer-mode/logo_footer-mode.css);

.logo {
  width: 100px;
  height: 130px;
  background-color: #fcdb5a;
  position: relative;
  display: inline-block;
  text-align: center;
  z-index: 2;
}

