.header__menu-item {
  font-family: OpenSans, Arial, Helvetica, sans-serif;
  font-style:  normal;
  font-weight: 400;
  font-size: 14px;
  color: #fff;
  display: inline-block;
  margin-right: 28px;
  padding-bottom: 42px;
}

@media (max-width: 920px) {
  .header__mobile-menu-checkbox:checked ~ .header__menu .header__menu-item {
    display: block;
    margin-right: 0;
    margin-bottom: 0;
    padding-bottom: 12px;
  }
}