.reviews__card-text {
  max-width: 1000px;
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
  font-weight: 400;
  font-size: 25px;
  line-height: 30px;
  text-align: left;
  color: #fff;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.reviews__card-text::before {
  content: '\201c';
  position: absolute;
  font-family: "Times New Roman", Times, serif;
  font-style: normal;
  font-weight: 600;
  font-size: 100px;
  color: #fcdb5a;
  top: 0;
  left: -88px;
}

@media (max-width: 1200px) {
  .reviews__card-text {
    width: calc(100% - 24px);
  }
  .reviews__card-text::before {
    display: none;
  }
}

@media (max-width: 768px) {
  .reviews__card-text {
    font-size: 18px;
    line-height: 24px;
  }
}