.cakes__title {
  max-width: 470px;
  font-family: Storytella, Arial, Helvetica, sans-serif;
  font-style:  normal;
  font-weight: 400;
  font-size: 230px;
  line-height: 180px;
  color: #ccaf8a;
  margin-top: 84px;
  margin-bottom: 0;
}