.footer__copyright-block {
  max-width: 670px;
  display: flex;
  justify-content: space-between;
  padding-top: 36px;
  padding-bottom: 36px;
  border-top: 1px solid #464646;
  grid-area: footer__copyright-block;
}

@media (max-width: 1250px) {
  .footer__copyright-block {
    justify-content: space-around;
  }
}

@media (max-width: 990px) {
  .footer__copyright-block {
    justify-content: space-between;
  }
}