.logo__text {
  font-family: Lato, Arial, Helvetica, sans-serif;
  font-style:  normal;
  font-weight: 700;
  font-size: 20px;
  text-transform: uppercase;
  color: #4f4a37;
  margin-top: 12px;
  margin-bottom: 0;
}